.container {

   display: flex;
  
   gap: 3%;
   flex-direction: column;
  width: 100%;
   justify-content: center; 
   align-items: center;
    padding-bottom: 1%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

   
.btn{
   
   border-radius: 20px !important;
   width: 70%;
   margin: 2rem !important;
   text-transform: none !important;
   background-color: rgb(255, 255, 255) !important;
   color: rgb(0, 0, 0) !important;
}

.input{
   width:70% !important;
   padding: 1px !important;
  margin: 1rem !important;
  
   
}
   
.card{
   background-color: #15202b;
   margin:5% 15%;
   border-radius: 20px;
}
.h1{
   color: rgb(255, 255, 255);
   text-align: center;
}
.h3{
   color: rgb(255, 255, 255);
   text-align: center;
}
.Calender{
    /* border: 1px solid; */
    height: 2rem;
    display: flex;
    gap: 10px;
    width: 70%
    
 }

 .Calender > select{
    width:50% ;
    height: 100%;
 }

@media only screen and (min-width: 1100px) {
 
   .btn{
   
      border-radius: 20px !important;
      width: 50%;
      margin: 2rem !important;
      text-transform: none !important;
      background-color: rgb(255, 255, 255) !important;
      color: rgb(4, 4, 4) !important;
   }
   
   .input{
      width:50% !important;
      padding: 1px !important;
     margin: 1rem !important;
     
      
   }
 
.card{
   
   margin:5% 32%;
   border-radius: 20px;
}
.Calender{
   /* border: 1px solid; */
   height: 2rem;
   display: flex;
   gap: 10px;
   width: 50%
   
}

.Calender > select{
   width:50% ;
   height: 100%;
}
}

